force-app/main/default/flows/Security_Health_Check_Notification_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email to the designated admin.</description>
        <name>Send_Email_to_Admin</name>
        <label>Send Email to Admin</label>
        <locationX>204</locationX>
        <locationY>258</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send a notification to an admin.</description>
        <name>Send_Notification_to_Admin</name>
        <label>Send Notification to Admin</label>
        <locationX>459</locationX>
        <locationY>750</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>relatedRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Convert the single userId and add it to a list of user ids</description>
        <name>Convert_Single_Id_to_List</name>
        <label>Convert Single Id to List</label>
        <locationX>459</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>userIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_Admin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Custom_Notification_Type_Found</name>
        <label>Custom Notification Type Found</label>
        <locationX>643</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notificationTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Single_Id_to_List</targetReference>
            </connector>
            <label>Type Found</label>
        </rules>
        <rules>
            <name>Type_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notificationTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Custom_Notification_Type</targetReference>
            </connector>
            <label>Type Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Determine the type of message you would like to send to the responsible admin</description>
        <name>Messaging_Type</name>
        <label>Messaging Type</label>
        <locationX>330</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Admin</targetReference>
            </connector>
            <label>SendEmail</label>
        </rules>
        <rules>
            <name>Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type</targetReference>
            </connector>
            <label>Notification</label>
        </rules>
    </decisions>
    <description
  >A reuseable flow for sending notifications to users who are responsible for managing security orgs.</description>
    <interviewLabel
  >Security Health Check Notification Service {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Security Health Check Notification Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description
    >Create a custom notification type if one doesn&#39;t already exist.</description>
        <name>Create_Custom_Notification_Type</name>
        <label>Create Custom Notification Type</label>
        <locationX>847</locationX>
        <locationY>560</locationY>
        <assignRecordIdToReference>notificationTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>Convert_Single_Id_to_List</targetReference>
        </connector>
        <inputAssignments>
            <field>CustomNotifTypeName</field>
            <value>
                <stringValue>Security Health Check Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Notifications sent to security admins in the org</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desktop</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>Security_Health_Check_Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Security_Health_Check_Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CustomNotificationType</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>461</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Notification_Type_Found</targetReference>
        </connector>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security Health Check Notifications</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>notificationTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Messaging_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Email of the user you would like to send an alert to.</description>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The message you would like the send the Admin.</description>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A list of User Ids to send notifications to</description>
        <name>userIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
